* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

:root {
	--transparent: transparent; /*transparent*/
	--colorscheme1: #000066; /*dark-color*/
	--colorscheme2: #99d6ff; /*light-color*/
	--colorschme3: #0074D9; /*normal-color*/

}

/*FONTSTYLES*/
.raleway {
	font-family: 'Raleway', sans-serif;
}

.oswald {
	font-family: 'Oswald', sans-serif;
}

.roboto-slab {
	font-family: 'Roboto Slab', serif;
}

/*GENERAL SYLES*/

.navbar {
	position: fixed;
	top: 0;
	background-color: var(--colorscheme1);
	z-index: 10;
	opacity: 0.95;
}

button {
	word-wrap: break-word;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: var(--colorscheme1);
	z-index: 10;
	opacity: 0.95;
}

.fab {
	color: black;
	font-size: 50px;
}

.main-body{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(to bottom, #000066, #0074D9, #99d6ff)
}

#googlemap {
	width: 100%;
	height: 50%;
	margin: 0 auto;
}

.right , .left {
		width: 90%;
		height: 100%;
		margin: 0 auto;
		border: 1px	solid black;
}

.label {
	font-size: 24px;
}

.card-body .card-header {
	padding: 0;
}

.card-body {
	padding-left: 0;
	padding-right: 0;
}

#mainhead, .secondhead, .primaryhead{
	background-color: #99d6ff;
}

#mainsection1, #mainsection2 {
	border-radius: 10px 30px;
}

.requirements {
	background: rgba(204, 204, 255,0.95);
}

.requirements2 {
	background: rgba(204, 204, 255,0.95);
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.tertiaryhead{
	background-color: #c5e8ec;
}



.banner > img {
	height:	30px;
}

header .dropdown-menu {
	background-color: var(--transparent);
	border: 0;
}

.card1 {
	background-image: url(../images/card1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.card1 .card {
	opacity: 0.95;
}

.textbox, .imagebox {
	text-align: justify;
	margin: 0 auto;
}

.social-link {
	margin: 20px;
}

#jumbotron-landing {
	background-image: url("../images/landingshort.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #141414;
	margin: 0 auto;
	padding-top: 30vh;
	width: 100%;
}

.jumbotron {
	background-color: transparent;
	height: 100vh;
	padding-left: 0;
	padding-right: 0;
}


.jumbotron-container {
	background-color: var(--transparent);
	position: fixed;
	z-index: 9;
	left: 0;
	right: 0;
}

.carousel-inner img {
 	width: auto;
	height: 100%;
}

.dropdown-menu {
	z-index: 10;
}

#contact-text {
	margin-top: 30px;
	color: #e6e6e6;
}

.accordion {
	margin-bottom: 10px;
}

.services, .navbar-nav > .card {
	margin-bottom: 5px;
	background-color: black;
}

#jumbotron-landing .text-center{
	/*font-weight: bolder;*/
	color: white;
	font-family: 'Righteous', cursive;

}

.link {
	margin: 10vh 10vw;
}

#landing-button {
	background-image: radial-gradient(transparent, transparent, transparent, white);
	color: white;
	font-weight: bolder;
}

.services .dropdown-item {
	color: #999999;
}

.services .dropdown-item:hover {
	color: black;
}


.window, .window2 {
		height: 58px;
}

p + ul {
	padding-left: 10px;
}

#mirror {
	background-image: url(../images/mirror.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}

#mirrorcover {
/*	background-color: #99d6ff; */
	background: rgba(153,214,255,0.8);
}

#homepage1, #homepage2, #homepage-carousel {
	padding: 0;
}

#corevalues {
	border-radius: 15px 40px;
}

.delayshow {
	animation-delay: 1s;
}

.delayshow2 {
	animation-delay: 1.5s;
}

/****************/
/*DESKTOP SCREEN*/
/****************/
@media only screen and (min-width: 767px){

	.window, .window2 {
		height: 66px;
	}

	.homepageleft {
	padding-right: 0;
	margin: 0;
}

	.homepageright {
	padding-left: 0;
	margin: 0;
}

}

/***************/
/*TABLET SCREEN*/
/***************/
@media only screen and (min-width: 401px) and (max-width: 767px) {

	.window {
		height: 56px;
	}

	#jumbotron-landing {
	background-image: url("../images/landingtall.jpg");
	}
}

/***************/
/*MOBILE SCREEN*/
/***************/
@media only screen and (max-width: 400px) {

	.window {
		height: 56px;
	}

/*	.homepage-placer {
		height: 15vh;
	}	*/

	.window2 {
		height: 120px;	
	}

	#jumbotron-landing {
	background-image: url("../images/landingtall.jpg");
	}

}